# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

#Administration
#This is a PK wallet created only for this project. Update it if you want to deploy your own contract
ADMIN_WALLET=8a1d045b85f673ca1863bc60b64828f100dc8ecff2828eb27f6ec4d95561bfba

#This is a contract deployed already on Goerli. Update if you want to use your own
AUCTION_CONTRACT=0x9E48a079a47Bd70E70639B0bCA359D6613efe487

#Alchemy services
#its Alchemy API key. Create an account and set it here
PROVIDER_API=

#Alchemy network name
PROVIDER_NETWORK=goerli

#Transactions
GAS_LIMIT=2100000
GAS_PRICE=8000000000